# Add to /addon_configs/a0d7b954_appdaemon/apps/apps.yaml
dynamic_suite_backup:
  module: dynamic_suite_backup
  class: DynamicSuiteBackup

dynamic_suite_golden:
  module: dynamic_suite_golden
  class: DynamicSuiteGolden
